@media (max-width: 950px){
    .promo__list-item{
        font-size: 28px;
    }
    .components__center{
        margin: 0 15px;
    }
    .product__list-item {
        text-align: center;
    }
    .product__img{
        max-width: 40%;
    }
    .product__text{
        font-size: 17px;
    }
}
@media (max-width: 820px){
    .promo__list-item{
        font-size: 22px;
    }
}
@media (max-width: 750px){
    .components__btn{
        width: 220px;
    }
    .components__img{
        max-width: 150px;
    }
    .components__item-bg{
        padding: 7px;
    }
    .product__text {
        padding: 20px;
        font-size: 15px;
    }
    .product__list-item{
        font-size: 20px;
    }
    .form__right-img{
        max-width: 30%;
    }
    .form__btn{
        font-size: 22px;
        width: 250px;
    }
}
@media (max-width: 660px){
    .promo__list-item{
        font-size: 18px;
    }
    .components__item-bg img {
        width: 80px;
        height: 80px;
    }
    .components__img {
        max-width: 120px;
    }
    .components__btn {
        width: 170px;
    }
    .product__text {
        padding: 10px;
        font-size: 15px;
    }
    .product__inner{
        flex-direction: column;
    }
    .product__img {
        max-width: 100%;
    }
    .form__box-center{
        flex-direction: column;
    }
    .form__left {
        width: 100%;
    }
    .form{
        height: 140vh;
    }
    .form__right-img {
        max-width: 42%;
        margin: 0 auto;
        margin-top: 20px;
    }
}
@media (max-width: 590px){
    .promo__inner{
        flex-wrap: wrap;
    }
    .promo .promo__list{
        padding-bottom: 20px;
    }
    .components__btn {
        width: 110px;
    }
    .components__img {
        max-width: 100px;
    }
    .components__item-title {
        font-size: 18px;
    }
    .zakaz__btn{
        font-size: 16px;
    }
}
@media (max-width: 480px){
    .components__inner {
        flex-direction: column;
        align-items: center;
    }
    .components__left-list,
    .components__right-list{
        width: 100%;
    }
    .components__img {
        max-width: 150px;
    }
    .components__center {
        margin-bottom: 20px;
    }
    .components__btn {
        width: 200px;
    }
    .zakaz__btn {
        font-size: 18px;
    }
    .components__item{
        max-width: 100%;
    }
    .product__list-item{
        font-size: 12px;
        font-weight: 600;
    }
    .form{
        height: 120vh;
    }
}
@media (max-width: 350px){
    .promo__list-item{
        font-size: 16px;
    }
    .product__list-item{
        font-size: 11px;
    }
    .form__price {
        font-size: 31px;
    }
    .form__price-new {
        font-size: 42px;
    }
}